$red : #bd3736;
$black : #424242;
$white : #fcfcfc;
$yellow : #FFD924;


//type Colors

$fire : #d58e59;
$flying : #a89cd7;
$ice : #9ac3c5;
$ghost : #80739a;
$dark : #8a776d;
$poison : #a165a2;
$psichic : #e57b9a;
$rock : #baaa64;
$bug : #aab351;
$dragon : #1883f1;
$steel : #b4b1c5;
$fairy : #d89fae;
$water : #819cd9;
$grass : #8abf72;
$electric : #dec65c;
$ground : #d0be82;
$normal : #acae90;
$fighting : #e0827b;
